/* nav */
#topNavProj {
    background-color: #3DC2AE;
    font-size: 120%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
}

#projNavMain {
    padding: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

/* heading */
#selWork {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 50px;
}

/* featured project 1 styles */
#projImg1 {
    background-image: url(Images_copy/terracotta.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px 0px 0px 15px;
    box-shadow: 5px 0px 10px rgb(126, 126, 126);
}

#projDesc1 {
    background-color: #c1ebe5;
    border-radius: 0px 15px 15px 0px;
    z-index: -10;
}

#projTitle1 {
    font-size: 30px;
    padding-top: 20px;
    font-weight: 600;
}

#projSum1 {
    padding-bottom: 15px;
}

#projBtn1{
    font-size: 50px;
}

/* featured project 2 styles */
#projImg2 {
    background-image: url(Images_copy/Psych_Lab_Image_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px 0px 0px 15px;
    box-shadow: 5px 0px 10px rgb(126, 126, 126);
}

#projDesc2 {
    background-color: #c1ebe5;
    border-radius: 0px 15px 15px 0px;
    z-index: -10;
}

#projTitle2 {
    font-size: 30px;
    padding-top: 20px;
    font-weight: 600;
}

#projSum2 {
    padding-bottom: 15px;
}

#projBtn2 {
    font-size: 50px;
}

/* featured project 3 styles */
#projImg3 {
    background-image: url(Images_copy/storyboard_capture.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px 0px 0px 15px;
    box-shadow: 5px 0px 10px rgb(126, 126, 126);
}

#projDesc3 {
    background-color: #c1ebe5;
    border-radius: 0px 15px 15px 0px;
    z-index: -10;
}

#projTitle3 {
    font-size: 30px;
    padding-top: 20px;
    font-weight: 600;
}

#projSum3 {
    padding-bottom: 15px;
}

#projBtn3 {
    font-size: 50px;
}

/* bottom project styles */
#bottom1{
    background-image: url(Images_copy/Baldwin_Brady-Poster-small.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    border-radius:  0px 0px 15px 15px;
    margin-bottom: 100px;
}

#bottom2{
    background-image: url(Images_copy/pd_afinity.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    border-radius:  0px 0px 15px 15px;
    margin-bottom: 100px;
}

#bottomName1 {
    text-align: center;
    background-color: #c1ebe5;
    border-radius: 15px 15px 0px 0px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
}

#bottomName2 {
    text-align: center;
    background-color: #c1ebe5;
    border-radius: 15px 15px 0px 0px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
}

#bottomBtn1{
    font-size: 40px;
}

#bottomBtn2{
    font-size: 40px;
}